<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        
      
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-item">
          <a class="nav-link" [routerLink] = "titulo"> Home </a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" [routerLink]="'/user-list'">Listagem </a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" [routerLink] = "'/busca'">  </a>
          </li>
      </ul>

      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-dark my-2 my-sm-0" class="btn btn-secondary" type="submit">Pesquisar</button>
      </form>
    </div>
</nav>

